*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: default;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.loading-location {
  margin: auto;
  color: #E5E6E9;
  height: 45px !important;
  width: 210px !important;
}

.loading-weather {
  margin: auto;
  margin-top: 3.5% !important;
  width: 155px !important;
  height: 35px !important;
}

.loading-img {
  margin: auto;
  margin-top: 1.75% !important;
  height: 75px !important;
  width: 75px !important;
}

.loading-temp {
  margin: auto;
  margin-top: 1.5% !important;
  width: 55px !important;
  height: 35px !important;
  cursor: default !important;
}


@keyframes placeHolderShimmer{
    0%{
        background-position: -360px 0
    }
    100%{
        background-position: 360px 0
    }
}

.loading-animation {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #E5E6E9;
    background: linear-gradient(to right, #eeeeee 8%, #bababa 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.main-text {
  color: white;
  font-size: 2.5em;
  text-align: center;
  margin-top: 3.5%;
  font-family: 'Oswald', sans-serif;
}

#make-inline {
  display: inline-block;
}

#current-location {
  display: inline-block;
  margin-left: 9px;
}

#current-country {
  display: inline-block;
  margin-right: 9px;
}

#current-weather {
  color: white;
  font-size: 1.85em;
  text-align: center;
  margin-top: 3%;
  font-family: 'Oswald', sans-serif;
}

#weather-icon {
  margin: auto;
  margin-top: 1%;
  text-align: center;
}

img {
  height: 85px;
  width: 85px;
}

#current-temp-cel {
  color: white;
  font-size: 1.55em;
  text-align: center;
  margin: auto;
  margin-top: 0.75%;
  font-family: 'Oswald', sans-serif;
  width: 15%;
  cursor: pointer;
  display: none;
}

#current-temp-far {
  color: white;
  font-size: 1.55em;
  text-align: center;
  margin: auto;
  margin-top: 0.75%;
  font-family: 'Oswald', sans-serif;
  width: 55px;
  cursor: pointer;
 /* display: none; */
}

.footer {
  width: 85%;
  height: 115px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin-top: 10%;
}

.footer i {
  color: white;
  link-style: none;
  cursor: pointer;
}

.footer i:hover {
  opacity: 0.75;
}

.footer-text-top {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.9em;
  text-align: center;
  color: white;
}

.footer-text-bottom {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.9em;
  text-align: center;
  color: white;
}

.social-media-container {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}
